* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #212529;
}

.slider {
	width: 60%;
	position: relative;
	overflow: hidden;
	padding: 1rem;
	background-color: #212529;
	border: 0.1rem solid #000;
	border-radius: 1.2rem;
}

.images {
	display: flex;
	transition: transform 0.3s ease-in;
	width: 100%;
}

.item {
	flex: 1 0 100%;
	display: block;
	max-width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	object-fit: cover;
	padding-bottom: 2rem;
	border-radius: 0.6rem;
}

input {
	display: none;
}

.text-dots {
	display: flex;
	justify-content: space-between;
}

.texts {
	overflow: hidden;
	width: 100%;
}

.text {
	font-size: 1.2rem;
	font-family: sans-serif;
	font-weight: 200;
	color: white;
	flex: 1;
	text-align: left;
	opacity: 0;
	transition: all 0.3s ease-in;
	display: none;
}

#img1:checked ~ .text-dots .texts .text:nth-of-type(1),
#img2:checked ~ .text-dots .texts .text:nth-of-type(2),
#img3:checked ~ .text-dots .texts .text:nth-of-type(3),
#img4:checked ~ .text-dots .texts .text:nth-of-type(4),
#img5:checked ~ .text-dots .texts .text:nth-of-type(5) {
	display: block;
	opacity: 1;
	animation-duration: 0.7s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

@keyframes open {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

.dots {
	display: flex;
}

.dots label {
	position: relative;
	padding: 0.2rem;
	cursor: pointer;
	margin: 0.4rem;
}

.dots label span {
	display: block;
	height: 1.2rem;
	width: 1.2rem;
	border-radius: 50%;
	background-color: #4dabf7;
	border: solid #4dabf7 0.1rem;
	pointer-events: none;
}

.dots label:hover span {
	background-color: #f1f3f5;
	border-color: #f1f3f5;
}

.dots label:active span {
	background-color: #4dabf7;
}

#img1:checked ~ .text-dots .dots label:nth-of-type(1) span,
#img2:checked ~ .text-dots .dots label:nth-of-type(2) span,
#img3:checked ~ .text-dots .dots label:nth-of-type(3) span,
#img4:checked ~ .text-dots .dots label:nth-of-type(4) span,
#img5:checked ~ .text-dots .dots label:nth-of-type(5) span {
	border-color: #4dabf7;
	background-color: transparent;
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#img1:checked ~ .images {
	transform: translateX(0%);
	transition: transform 0.5s ease-in-out;
}

#img2:checked ~ .images {
	transform: translateX(-100%);
	transition: transform 0.5s ease-in-out;
}

#img3:checked ~ .images {
	transform: translateX(-200%);
	transition: transform 0.5s ease-in-out;
}

#img4:checked ~ .images {
	transform: translateX(-300%);
	transition: transform 0.5s ease-in-out;
}

#img5:checked ~ .images {
	transform: translateX(-400%);
	transition: transform 0.5s ease-in-out;
}

@media screen and (min-width: 48em) and (max-width: 68.75em) {
	.text-dots {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (min-width: 20em) and (max-width: 47em) {
	.text-dots {
		display: flex;
		flex-direction: column-reverse;
	}

	.dots {
		justify-content: center;
	}

	.text {
		font-size: 0.9rem;
		margin-bottom: 0.5vh;
		padding: 0 0.5rem;
		text-align: left;
	}
}
