* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #343a40;
	margin: 0 auto;
	overflow-x: hidden;
}

.container {
	margin: 0 auto;
}

.card-item {
	margin: 3rem;
	max-width: 100%;
	display: block;
	padding: 3rem;
	background-color: #212529;
	border: 0.1rem solid #000;
	text-decoration: none;
	border-radius: 1.2rem;
	transition: 0.4s ease;
	list-style: none;
}

.card-item:hover {
	border-color: #868e96;
}

.card-image {
	margin: 0 auto;
	max-width: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
	border-radius: 0.8rem;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	/* opacity: 0; */
	position: static;
}

.card-image.active {
	opacity: 1;
	z-index: 1;
	transform: translateX(0);
}

/* .card-item.leaving {
	opacity: 0;
} */

.card-image.prev {
	transform: translateX(-100%);
}

.card-image.next {
	transform: translateX(100%);
}

.card-item .card-list {
	padding: 1rem 1.8rem;
}

.meme-text {
	color: #f1f3f5;
	font-size: 2rem;
	line-height: 3rem;
	margin: 1.6rem 0 1.8rem;
	white-space: pre-line;
}

.text-dots {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

/* Slider dots */

.slider-dots {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	position: relative;
}

.dot {
	height: 1.2rem;
	width: 1.2rem;
	margin: 0 0.5rem;
	background-color: #74c0fc;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.3s;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.dot.active {
	background-color: transparent;
	border: 0.05rem solid #74c0fc;
}

.overlay {
	margin: 0 0.5rem;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: -1.2rem;
	bottom: -1.2rem;
	left: -0.6rem;
	right: -0.6rem;
	background-color: transparent;
	cursor: pointer;
	z-index: 1;
}
