* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #343a40;
	margin: 0 auto;
	overflow-x: hidden;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}

.card-list .card-item {
	list-style: none;
}

.card-list .card-item .card-link {
	margin: 3rem;
	max-width: 110rem;
	display: block;
	padding: 3rem;
	background-color: #212529;
	border: 0.1rem solid #000;
	text-decoration: none;
	border-radius: 1.2rem;
	transition: 0.4s ease;
}

.card-list .card-item .card-link:hover {
	border-color: #868e96;
}

.card-list .card-link .card-image {
	width: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
	border-radius: 0.8rem;
}

.card-image {
	object-fit: contain;
}

.card-list .card-link {
	color: #f1f3f5;
	padding: 1rem 1.8rem;
}

.meme-text {
	font-size: 2rem;
	line-height: 3rem;
	margin: 1.6rem 0 1.8rem;
}

.text-dots {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Slider dots */

.slider {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.slides {
	display: flex;
	overflow: hidden;
	position: relative;
}

.slide {
	min-width: 100%;
	transition: transform 0.5s ease-in-out;
	opacity: 0;
	display: none;
}

.slide.active {
	display: block;
	opacity: 1;
}

.slider-dots {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.dot {
	height: 1.2rem;
	width: 1.2rem;
	margin: 0 0.5rem;
	background-color: #74c0fc;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.3s;
	cursor: pointer;
}

.dot.active {
	background-color: transparent;
	border: 0.05rem solid #74c0fc;
}
